name: Tests

on:
  push:
    branches: [master]
    paths-ignore:
      - "**/*.md"
  pull_request:
    branches: [master]

jobs:
  test:
    name: .NET ${{ matrix.framework }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        framework: ["net6.0", "net8.0", "net9.0", "net10.0"]
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          6.0.x
          8.0.x
          9.0.x
          10.0.x

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --configuration Release --framework ${{ matrix.framework }}

    - name: Test
      run: dotnet test --no-build --configuration Release --framework ${{ matrix.framework }}
